menuconfig DRIVERS_INPUT
	default n
	bool "Input driver"

if DRIVERS_INPUT
config INPUT_TEST_DEMO
	bool "Enable input test demo."
	default n

	source arch/arm/src/r328/drivers/board/input/keyboard/Kconfig

endif
