
config SND_CODEC_SUNXI_RWFUNC
	bool
	default n

config SND_CODEC_SUN8IW18_AUDIOCODEC
	bool "Allwinner sun8iw18 AudioCodec support"
	default n
	select SND_PLATFORM_SUNXI_CPUDAI
	select SND_CODEC_SUNXI_RWFUNC
	depends on ARCH_SUN8IW18P1
	help
	  Select Y to add support the Codec embedded in the Allwinner
	  sun8iw18 and affiliated SoCs.
