config COMPONENTS_USB_GADGET_DEMO
    bool "USB Gadget Demo Application"
    select DRIVERS_USB_UDC
    default n
    help
	It's a usb gadget demo to show how to use the hal API.
        If unsure, say N.
