config COMPONENTS_USB_GADGET_ADBD
    bool "adbd service"
    select DRIVERS_USB_UDC
    select DRIVERS_USB_GADGET
    select DRIVERS_USB_GADGET_ADB
    select DRIVERS_EFUSE
    default n
    help
	adbd service

config COMPONENTS_USB_GADGET_ADB_FORWARD
    bool "adb forward function"
    default n
    depends on  COMPONENTS_USB_GADGET_ADBD && NET
