menu "PWM Devices"

config DRIVERS_PWM
    bool "enable pwm device drivers"
        default n

menu "pwm device option freatuers"

config DRIVERS_PWM_FEATURE_1
    bool "pwm device feature 1"
        select DRIVERS_PWM
        default n

endmenu

endmenu
