menu "Efuse Devices"

config DRIVERS_EFUSE
    bool "enable  efuse device driver"
        default y

menu "efuse option featuers"

config DRIVERS_EFUSE_TEST
    bool "efuse test"
        select DRIVERS_EFUSE
        default n

endmenu

endmenu
