comment "system components"

menu "aw components"

config COMPONENTS_AW
    bool
    default y

source arch/arm/src/r328/components/aw/Kconfig

endmenu

menu "thirdparty components"

config COMPONENTS_THIRDPARTY
    bool
    default y

source arch/arm/src/r328/components/thirdparty/Kconfig

endmenu
